.header_div{
    width:100vw;
    background-color: turquoise;
}

.tableau_div{
    width:60vw;
    
}

.footer_div{
    width:100vw;
    border-top:black solid 2px;
}

.center_style{
    margin-left:auto;
    margin-right:auto;
}

.harrystyles{
    font-size: 20px;
}

.newstyles {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.make_bold{
    font-weight: bold;
}

.text_align{
    text-align: center;
}